.item-form {
    font-family: $font-primary;
}

.sheet-header {
    flex: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        margin-right: 10px;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 50px;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;

        input {
            height: 100%;
        }
    }
}

.accordion-content {
    display: none;
    overflow: hidden;
}

.sheet-tabs {
    flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100px;
}

.skills-section {
    flex: 1;
    overflow: auto;
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}
.mastery-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    flex: 0 0 auto;

    margin-left: 15px;
    margin-right: 15px;
}

.mastery-filled-circle {
    background-color: black;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    background: #444;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

.tag a {
    margin-left: 4px;
    cursor: pointer;
}

.card {
    margin: 3px 10px;
    text-align: center;
    padding-bottom: 1px;
    display:flex;
    flex-direction: column;
}

.stat {
    margin: 0em 0.2em;
}

.stat-card {
    border: 1px solid var(--color-border-light-primary);
    border-radius: 4px;
    text-align: center;
}

.stat-card-header {
    font-weight: bold;
    padding: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
}

.stat-card-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.stat-card-value {
    flex: 1;
    max-width: 25px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}